# Public variables are exposed to the browser (prefix PUBLIC_)
PUBLIC_API_BASE=http://localhost:8000/api/v1
PUBLIC_SITE_NAME=PerkPal
PUBLIC_CONTACT_EMAIL=hello@perkpal.io
PUBLIC_HERO_IMAGE=/images/hero.svg
PUBLIC_TWITTER_URL=https://twitter.com/yourprofile
PUBLIC_LINKEDIN_URL=https://www.linkedin.com/company/yourcompany
PUBLIC_CTA_BROWSE_LABEL=Browse Perks
PUBLIC_PERK_PLACEHOLDER=/images/perk-placeholder.svg
